body{

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    background-color: rgb(211, 211, 211)

    
}

h1{

color: #006400;

}

p{

color: #191970
}
